version: "3.8"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: ./api-service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api-service:/app
      - ./common:/app/common
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  import-service:
    build:
      context: ./import-service
      dockerfile: Dockerfile
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/credentials.json
    volumes:
      - ./credentials/credentials.json:/app/credentials.json
      - ./common:/app/common
    env_file:
    - .env
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - React_APP_API_URL=http://15.206.179.7:8000
    volumes:
      - ./frontend:/app

volumes:
  postgres_data:
